[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
isort = "*"
pylint = "*"
pylint-django = "*"
prospector = "*"
django-debug-toolbar = "*"
django-extensions = "*"
bumpversion = "*"
unittest-xml-reporting = "*"
grpcio-tools = "*"
colorama = "*"
pep8 = "*"
autopep8 = "*"
uwsgitop = "*"

[packages]
django-guardian = "*"
psycopg2 = "*"
structlog = "*"
django-prometheus = "*"
py-grpc-prometheus = "*"
python-magic = "*"
celery = "*"
django-redis = "*"
mozilla-django-oidc = "*"
sentry-sdk = "*"
grpcio = "*"
grpcio-reflection = "*"
protobuf = "*"
django-filter = "*"
djangorestframework = "==3.9.4"
djangorestframework-guardian = "*"
djangorestframework-jwt = "*"
drf-yasg = {extras = ["validation"],version = "*"}
django-crispy-forms = "*"
boto3 = "*"
Django = ">=2.2"
PyYAML = "*"
CherryPy = "*"
"ruamel.yaml" = "<0.16.0,>=0.15.34"
Pillow = "==5.2.0"
uwsgi = "*"

[requires]
python_version = "3.7"
