# Root dependencies
django>=2.2
django-guardian
django-prometheus
django-redis
mozilla-django-oidc
requests
celery
python-magic
pytz
pyyaml
user-agents
sentry-sdk
grpcio
grpcio-reflection
py-grpc-prometheus
protobuf
psycopg2
packaging
python-json-logger
# API dependencies
django-filter
djangorestframework==3.9.4
djangorestframework-guardian
djangorestframework-jwt
drf-yasg[validation]
# UI dependencies
django-crispy-forms
# S3 Storage dependencies
boto3
# Image Component dependencies
pillow==4.1.1
