{% extends "base/base.html" %}

{% load i18n %}

{% block content %}

<h1>{% trans 'My Account' %}</h1>
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link {% block account_nav_change_password %}{% endblock %}" href="{% url 'auth_password' %}">{% trans 'Change Password' %}</a>
        </li>
    </div>
  </div>
  <div class="col-9">
    {% block account_content %}
    {% endblock %}
  </div>
</div>

{% endblock %}
