{% extends "base/base.html" %}

{% load i18n %}
{% load static %}
{% load p2_ui %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'p2/css/p2-login.css' %}">
{% endblock %}

{% block container %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 py-md-3">
      {% config 'external_auth_only' as external_auth_only %}
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">{% trans "Sign In - p²" %}</h5>
          <form class="form-signin" method="POST">
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {% if not external_auth_only %}
              {% csrf_token %}
              {{ form|crispy }}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">{% trans "Sign In" %}</button>
              {% endif %}
            {% config 'oidc.enabled' as oidc_enabled %}
            {% if oidc_enabled %}
              <hr class="my-4">
              <a class="btn btn-primary btn-lg btn-block text-uppercase" href="{% url 'oidc_authentication_init' %}"">
                {% trans 'Single Sign-on' %}
              </a>
            {% endif %}
          </form>
        </div>
      </div>
    </dio>
  </div>
</div>
{% endblock %}
