{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}
<h2>
  {% blocktrans with adaptor=adaptor.pk.hex %}Log from adaptor {{ adaptor }}{% endblocktrans %}
</h2>
<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <th>{% trans 'Body' %}</th>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.body }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'blocks/pagination.html' %}
{% endblock %}
