.btn-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 75px;
  right: 40px;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  box-shadow:  2px 2px 3px #999;
}

.btn-float > i {
  margin-top: 6px;
}

.dropzone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
