[Unit]
Description=p2 - Open-Source Imageserver
After=network.target
Requires=network.target

[Service]
User=p2
Group=p2
WorkingDirectory=/usr/share/p2
Type=simple
ExecStart=/usr/share/p2/p2.sh web

[Install]
WantedBy=multi-user.target
