{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}
<h1>{% trans 'Server Error' %}</h1>
<pre>{% for line in error %}{{ line }}{% endfor %}</pre>
<a href="{% url 'p2_ui:index' %}" class="btn btn-primary">{% trans 'Go Home' %}</a>
{% endblock %}

{% block scripts %}
{% if sentry_event_id %}
<script>
  Sentry.showReportDialog({
    eventId: '{{ sentry_event_id }}',
    user: {
      email: "{{ user.email }}",
      name: "{{ user.username }}",
    },
  });
</script>
{% endif %}
{% endblock %}
