{% extends 'base/skeleton.html' %}

{% load i18n %}
{% load p2_ui %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">{% trans 'p2 '%}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% model_app %}">
          <a class="nav-link" href="{% url 'p2_ui:index' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% model_app 'p2_core' %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Core' %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'p2_ui:core-volume-list' %}">{% trans 'Volumes' %}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% model_app 'p2_s3' %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'S3' %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'p2_ui:s3-access-key-list' %}">{% trans "Access Keys" %}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% model_app 'p2_log' %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Log' %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'p2_ui:s3-access-key-list' %}">{% trans "Access Keys" %}</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% model_app 'p2_serve' %}" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% trans 'Serve' %}
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'p2_ui:serve-rule-list' %}">{% trans "Serve Rules" %}</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">
              <i class="fa fa-search text-light" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      {% include 'blocks/messages.html' %}
      {% block content %}
      {% endblock %}
    </dio>
  </div>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container">
    <small class="text-light">
      {% blocktrans with version=p2_version %}
      Version {{ version }}
      {% endblocktrans %}
    </small>
    <small class="text-light">
      {% blocktrans with uid=request.uid %}
      Request-ID {{ uid }}
      {% endblocktrans %}
    </small>
  </div>
</nav>
{% endblock %}
