{% load static %}
{% load i18n %}

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="icon" type="image/png" href="{% static 'img/icon.png' %}">
    <title>{% trans 'p²' %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <script src="{% static 'js/jquery.min.js'%}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    {% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> {% endcomment %}
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/bundle.min.js' %}"></script>
    <script>
      window.feedbackMessage = function() {
        Sentry.init({ dsn: 'https://9041d56f69bd496ea4edfa6420eac665@sentry.services.beryju.org/9' });
        Sentry.showReportDialog({
          eventId: 'ba9a8e90121f4da18cfa15d2069d55ff',
          user: {
            email: "{{ user.email }}",
            name: "{{ user.username }}",
          },
        });
      }
    </script>
  </body>
</html>
