{% load static %}
{% load i18n %}

<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'p2/css/p2.css' %}">
    <link rel="icon" type="image/png" href="{% static 'p2/img/icon.png' %}">
    <title>{% trans 'p²' %}</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <script src="{% static 'jquery/jquery.min.js'%}"></script>
    {% block body %}
    {% endblock %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dropzone/js/dropzone.min.js' %}"></script>
    <script src="{% static 'p2/js/p2.js' %}"></script>
    {% if user.is_authenticated %}
    <script src="{% static 'sentry/bundle.min.js' %}"></script>
    <script>
      Sentry.init({
        dsn: 'https://9041d56f69bd496ea4edfa6420eac665@sentry.services.beryju.org/9',
        beforeSend(event, hint) {
          // Check if it is an exception, and if so, show the report dialog
          if (event.exception) {
            Sentry.showReportDialog({
              eventId: event.event_id,
              user: {
                email: "{{ user.email }}",
                name: "{{ user.username }}",
              },
              title: "Found a bug, want to request a feature or need help?"
            });
          }
          return event;
        }
      });
      Sentry.configureScope((scope) => {
        scope.setUser({ "email": "{{ user.email }}" });
        scope.setTag("version", "{{ p2_version }}");
      });
      window.feedbackMessage = function() {
        Sentry.captureException(new Error("Feedback"));
      }
    </script>
    {% endif %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
