{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}
<h2>
  {% blocktrans with user=user.username %}Welcome {{ user }}.{% endblocktrans %}
</h2>
<h5>
  {% blocktrans with count=count %}p2 is happily serving {{ count }} objects.{% endblocktrans %}
</h5>
<div class="row">
  {% for volume in object_list %}
  <div class="col-md-4">
    <div class="card">
      <form action="{% url 'p2_api:volume-upload' pk=volume.pk %}" class="dz" method="POST">
        {% csrf_token %}
        <div class="card-body text-white bg-dark">
          <h5 class="card-title">{{ volume.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            {% blocktrans with storage=volume.storage.name %}
            On storage {{ storage }}
            {% endblocktrans %}
          </h6>
          <p class="card-text">
            {% blocktrans with usage=volume.space_used|filesizeformat %}
            Using {{ usage }} space.
            {% endblocktrans %}
            <hr>
          </p>
          <a href="{% url 'p2_ui:core-volume-detail' pk=volume.pk %}" class="card-link">{% trans 'View' %}</a>
          <a href="{% url 'p2_ui:core-blob-list' pk=volume.pk %}" class="card-link">{% trans 'Browse' %}</a>
        </div>
        <input type="hidden" class="dz-message">
        <input type="hidden" class="dz-previews">
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% if paginator.num_pages > 1 %}
{% include 'blocks/pagination.html' %}
{% endif %}
{% endblock %}
