{% extends 'base/base.html' %}

{% load i18n %}
{% load p2_ui %}

{% block container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-md-3">
      {% include 'blocks/messages.html' %}
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'p2_ui:core-volume-detail' pk=volume.pk %}?prefix=/">{{ volume.name }}</a></li>
          {% for crumb in breadcrumbs %}
            {% if not forloop.last %}
              <li class="breadcrumb-item"><a href="{% url 'p2_ui:core-blob-list' pk=volume.pk %}?prefix={{ crumb.prefix }}">{{ crumb.title|truncatechars:160 }}</a></li>
            {% endif %}
            {% if forloop.last %}
              <li class="breadcrumb-item active" aria-current="page">{{ crumb.title|truncatechars:160 }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      </nav>
      <form action="{% url 'p2_api:volume-upload' pk=volume.pk %}?prefix={{ request.GET.prefix }}" class="dz" method="POST">
        {% csrf_token %}
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th>{% trans 'Path' %}</th>
              <th>{% trans 'Size' %}</th>
              <th>{% trans 'Actions' %}</th>
            </tr>
          </thead>
          <tbody>
            {% if objects.number == 1 %}
            {% for prefix in prefixes %}
            <tr>
              <td>
                <i class="fa fa-folder" aria-hidden="true"></i>
                <a href="?prefix={{ prefix.absolute_path }}">
                  {{ prefix.relative_path|truncatechars:160 }}
                </a>
              </td>
              <td>-</td>
              <td></td>
            </tr>
            {% endfor %}
            {% endif %}
            {% for object in objects %}
            {% if object.filename %}
            <tr>
              <td>
                <a href="{% url 'p2_ui:core-blob-detail' pk=object.pk %}">
                  <i class="fa fa-file" aria-hidden="true"></i>
                  {{ object.filename|truncatechars:160 }}
                </a>
              </td>
              <td>{{ object|get_attribute:"p2.core.constants.ATTR_BLOB_SIZE_BYTES"|filesizeformat }}</td>
              <td>
                <a class="btn btn-sm btn-primary" href="{% url 'p2_ui:core-blob-download' pk=object.pk %}">
                  <i class="fa fa-download text-light" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-primary" href="{% url 'p2_ui:core-blob-update' pk=object.pk %}">
                  <i class="fa fa-pencil text-light" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="{% url 'p2_ui:core-blob-delete' pk=object.pk %}">
                  <i class="fa fa-trash text-light" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
{% include 'blocks/pagination.html' with page_obj=objects %}
{% endblock %}
