{% load i18n %}
{% load static %}

{% load p2_ui %}

<button class="btn btn-primary btn-sm">{% trans 'Save' %}</button>
<hr>
<style>
  .CodeMirror {
    height: auto;
  }
</style>
<textarea name="payload">{{ object|blob_string }}</textarea>
{% with object|get_attribute:"p2.core.constants.ATTR_BLOB_MIME" as mime %}
<script src="{% static 'codemirror/addon/mode/loadmode.js' %}"></script>
<script src="{% static 'codemirror/mode/meta.js' %}"></script>
<script>
  CodeMirror.modeURL = "{% static 'codemirror/mode/' %}%N/%N.js";
  let payload = document.getElementsByName('payload');
  if (payload.length > 0) {
    // Try to detect file-type from mime, fall back to extension
    let info = CodeMirror.findModeByMIME("{{ mime }}");
    if (info.mode === "null") {
      const ext = /.+\.([^.]+)$/.exec("{{ object.path }}");
      info = CodeMirror.findModeByExtension(ext[1]);
    }
    let myCodeMirror = CodeMirror.fromTextArea(payload[0], {
      mode: 'javascript',
      theme: 'monokai',
      lineNumbers: true,
      viewportMargin: Infinity,
    });
    myCodeMirror.setOption("mode", "{{ mime }}");
    CodeMirror.autoLoadMode(myCodeMirror, info.mode);
    console.log(`Detected ${info.mode} filetype`)
  }
</script>
{% endwith %}
