{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}
<h2>
  {% blocktrans with volume=volume.name %}Blobs in Volume {{ volume }}{% endblocktrans %}
  <a class="btn btn-success" href="{% url 'p2_ui:core-blob-create' %}">
    <i class="fa fa-file-o text-light" aria-hidden="true"></i>
  </a>
</h2>
<table class="table">
  <thead>
    <tr>
      <th>{% trans 'Path' %}</th>
      <th>{% trans 'Size' %}</th>
      <th>{% trans 'Download' %}</th>
      <th>{% trans 'Edit' %}</th>
      <th>{% trans 'Delete' %}</th>
      </td>
  </thead>
  <tbody>
    {% for object in object_list %}
    <tr>
      <td>{{ object.path }}</td>
      {# this is very hacky #}
      {% for key, value in object.attributes.items %}
        {% if key == 'size:bytes' %}
          <td>{{ value|filesizeformat }}</td>
        {% endif %}
      {% endfor %}
      <td>
        <a class="btn btn-primary" href="{% url 'p2_ui:core-blob-download' pk=object.pk %}">
          <i class="fa fa-download text-light" aria-hidden="true"></i>
        </a>
      </td>
      <td>
        <a class="btn btn-primary" href="{% url 'p2_ui:core-blob-update' pk=object.pk %}">
          <i class="fa fa-pencil text-light" aria-hidden="true"></i>
        </a>
      </td>
      <td>
        <a class="btn btn-danger" href="{% url 'p2_ui:core-blob-delete' pk=object.pk %}">
          <i class="fa fa-trash text-light" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include 'blocks/pagination.html' %}
{% endblock %}
