{% load i18n %}
{% load p2_ui %}

<style>
  iframe.blob-payload {
    height: calc(100vh - 152px - 35px - 35px);
    width: 100%;
  }
</style>
<div class="blob-detail-container">
  <h3>{% trans "We're not sure how to preview this file." %}</h3><br>
  <button class="btn btn-primary show-iframe">{% trans 'Try anyway' %}</button>
</div>

{% block scripts %}
<script>
  $('button.show-iframe').on('click', (e) => {
    // debugger;
    $('button.show-iframe').parent().empty();
    $('<iframe>', {
      src: '{{ object|blob_url }}',
      class: "blob-payload",
    }).appendTo('.blob-detail-container');
  });
</script>
{% endblock %}
