{% extends 'base/base.html' %}

{% load i18n %}
{% load static %}

{% load p2_ui %}

{% block head %}
{{ block.super }}
{{ form.media }}
<script src="{% static 'codemirror/codemirror.js' %}"></script>
<link rel="stylesheet" href="{% static 'codemirror/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'codemirror/theme/monokai.css' %}">
<script src="{% static 'codemirror/mode/javascript.js' %}"></script>
{% endblock %}

{% block content %}
<h2>
  {% blocktrans with storage=object.name %}Storage {{ storage }}{% endblocktrans %}
</h2>
<div class="row">
  <table class="table table-striped table-bordered table-hover table-sm">
    <tbody>
      <tr>
        <td>{% trans 'Controller' %}</td>
        <td>{{ object.controller_path }}</td>
      </tr>
      <tr>
        <td>{% trans 'Total Blobs' %}</td>
        <td>{{ total_blobs }}</td>
      </tr>
      <tr>
        <td>{% trans 'Total space used' %}</td>
        <td>{{ total_space|filesizeformat }}</td>
      </tr>
      <tr>
        <td>{% trans 'Tags' %}</td>
        <td>
          <textarea name="tags">{{ object.tags|json }}</textarea>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script>
  let tags = document.getElementsByName('tags');
  if (tags.length > 0) {
    let myCodeMirror = CodeMirror.fromTextArea(tags[0], {
      mode: 'javascript',
      theme: 'monokai',
      lineNumbers: true,
      viewportMargin: Infinity,
    });
  }
</script>
{% endblock %}
