{% extends 'base/base.html' %}

{% load i18n %}

{% block content %}
<h2>
    {% trans 'Volumes' %}
    <a class="btn btn-success" href="{% url 'p2_ui:core-volume-create' %}">
        <i class="fa fa-file-o text-light" aria-hidden="true"></i>
    </a>
</h2>
<table class="table">
    <thead>
        <tr>
            <th>{% trans 'Blobs' %}</th>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Storage' %}</th>
            <th>{% trans 'Edit' %}</th>
            <th>{% trans 'Delete' %}</th>
        </td>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>
                <a class="btn btn-primary" href="{% url 'p2_ui:core-blob-list' pk=object.pk %}">
                    <i class="fa fa-list text-light" aria-hidden="true"></i>
                </a>
            </td>
            <td>{{ object.name }}</td>
            <td>{{ object.storage.name }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'p2_ui:core-volume-update' pk=object.pk %}">
                    <i class="fa fa-pencil text-light" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'p2_ui:core-volume-delete' pk=object.pk %}">
                    <i class="fa fa-trash text-light" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
