<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">p2</span>
      </a>
    </div>
    <div class="header-nav">
      <a [routerLink]="['']" routerLinkActive="active" class="nav-link nav-text">Browse</a>
      <a href="javascript://" class="nav-link nav-text">Manage</a>
      <a href="javascript://" class="nav-link nav-text">Analyze</a>
    </div>
    <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['x/volume']" routerLinkActive="active">Volumes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['x/browser']" routerLinkActive="active">Browse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upload</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

